* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5) url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    background-blend-mode: darken;
    scroll-behavior: smooth;
}

 /* HEADER */
.header {
    width: 100%;
    height: 6vh;
    text-align: center;
    background-color: royalblue;
}

.header h3 {
    color: white;
    padding-top: 7px;
}

.container {
    display: flex;
    flex-direction: row;
}

/* SIDEBAR */
.sidebar {
    background-color: rgba(130,130,130,0.5);
    width: 290px;
    height: 100vh;
    text-align: center;
    color: white;
}

img {
    width: 150px;
    border-radius: 20px;
    margin: 20px 0;
}

.sidebar h3 {
    margin: 0 0 10px 0;
    font-size: 25px;
}

.sidebar li {
    padding: 15px 0;
}

.sidebar li:hover {
    background-color: royalblue;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.sidebar hr {
    margin-bottom: 5px;
}

/* MAIN */
.main {
    width: 100%;
    color: white;
}